{{- $u := urls.Parse .Destination }}
{{- $src := $u.String }}
{{- $attributes := dict "alt" .Text "title" .Title }}
{{- if not $u.IsAbs }}
    {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) }}
        {{- with . | fingerprint }}
            {{- if eq .MediaType.SubType "svg" }}
                {{- $src = .RelPermalink }}
            {{- else }}
                {{- $attributes = merge $attributes (dict "width" (string .Width)) }}
                {{- $attributes = merge $attributes (dict "height" (string .Height)) }}
                {{- $image_quality := or (site.Params.imageQuality) (75)}}
                {{- $webp_image := .Resize (printf "%dx%d webp q%d" .Width .Height $image_quality) }}
                {{- $src = $webp_image.RelPermalink }}
                {{- if isset site.Params "responsiveimagewidths" }}
                    {{- $srcset := "" }}
                    {{- $image_resource := . }}
                    {{- range site.Params.responsiveImageWidths }}
                        {{- if lt . $image_resource.Width }}
                            {{- with $image_resource.Resize (printf "%dx webp q%d" . $image_quality) }}
                                {{- $srcset = printf "%s%s %dw, " $srcset .RelPermalink .Width }}
                            {{- end }}
                        {{- end }}
                    {{- end }}
                    {{- if not (eq "" $srcset) }}
                        {{- $srcset = printf "%s%s %dw" $srcset $webp_image.RelPermalink $webp_image.Width }}
                        {{- $attributes = merge $attributes (dict "srcset" $srcset) }}
                        {{- $sizes := site.Params.responsiveImageSizes }}
                        {{- $attributes = merge $attributes (dict "sizes" $sizes) }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- else }}
        {{- warnidf "missing-images" (printf "Couldn't find image as a global or page resource: %s" $u.Path) }}
    {{- end }}
{{- end }}
{{- $attributes = merge $attributes (dict "src" $src)}}
<img
{{- range $k, $v := $attributes -}}
    {{- if $v -}}
        {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
{{- end -}}>