<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
	{{ with .OutputFormats.Get "rss" }}
	    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
	{{ end }}
        <title>{{ .Title | title }}</title>
        {{  with resources.Get "main.scss.template" | resources.ExecuteAsTemplate "main.scss" . | css.Sass | resources.Minify }}
        <style>
            {{ .Content | safeCSS }}
        </style>
        {{ end }}
    </head>
    <body>
        {{- block "body" . }}
        <div class="title">
            <h1>{{ .Title | title }}</h1>
        </div>
        {{- block "main" . }}
            <main>
                {{ .Content }}
            </main>
        {{- end }}
        {{- partialCached "footer.html" . }}
        {{- end }}
    </body>
</html>
