<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ .Title | title }}</title>
        {{- $stylesheet := resources.Get "main.scss.template" | resources.ExecuteAsTemplate "main.scss" . | css.Sass | resources.Minify | fingerprint }}
        <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}">
    </head>
    <body>
        {{- block "body" . }}
        <div class="title">
            <h1>{{ .Title | title }}</h1>
        </div>
        {{- block "main" . }}
            <main>
                {{ .Content }}
            </main>
        {{- end }}
        {{- partialCached "footer.html" . }}
        {{- end }}
    </body>
</html>