{{- define "body" }}
<div class="title">
    <h1>{{ .Title | title }}</h1>
    <p class="subheader">
	{{- $navlinks := slice }}
	{{- with site.Params.email }}
	    {{- $link := printf `<a href="mailto:%s">contact</a>` . }}
	    {{- $navlinks = $navlinks | append $link }}
	{{- end }}
	{{- with resources.Get "resume.pdf" }}
	    {{- $link := printf `<a href="%s">resume</a>` .Permalink }}
	    {{- $navlinks = $navlinks | append $link }}
	{{- end }}
	{{- with resources.Get "ident.asc" }}
	    {{- $link := printf `<a href="%s">gpg</a>` .Permalink }}
	    {{- $navlinks = $navlinks | append $link }}
	{{- end }}
	{{- with .OutputFormats.Get "rss" }}
	    {{- $link := printf `<a href="%s">rss</a>` .Permalink }}
	    {{- $navlinks = $navlinks | append $link }}
	{{- end }}
        {{- delimit $navlinks " | " | safeHTML }}
    </p>
</div>

{{- block "main" . }}
    {{- range where site.RegularPages "Type" "notes" }}
        <div class="article-card">
            <p class="subheader">{{ .Date | time.Format ":date_long" }}</p>
            <a href="{{ .RelPermalink }}">{{ .Title | title }}</a>
        </div>
    {{- end }}
{{- end }}

{{- partialCached "footer.html" . }}
{{- end }}
