html {
    font-family: sans-serif;
    line-height: 1.4;
}

body {
    max-width: 700px;
    margin: 0 auto;
    padding: 16px;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

blockquote {
    background: #eee;
    > * {
        padding: 10px;
    }
}

pre {
    padding: 10px;
}

.title {
    * {
        margin: 0;
    }

    margin: 15px 0;
}

.subheader {
    display: block;
    font-size: medium;
    font-weight: normal;
    color: #555555;
}

.footnotes {
    font-size: 0.85rem;
}

.rfc {
    text-align: center;
    margin: 25px;
}

footer {
    text-align: center;
    margin-top: 25px;
}